.card{
    border: 1px solid black;
    text-align: center;
    margin: 60px;
    padding-bottom: 250px;
    background-color: rgb(1, 255, 192);
    box-shadow: 10px 10px 80px 800px;
    border-color: yellow;
}
body{
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
}
